
/* Styles for messages */

/* Make messages ul scrollable */
#messages {
	list-style-type: none;
	overflow-x: scroll;
	height: 400px;
	padding: 0.2em;
	color: #FFFFFF;
}

#messages > li {
	margin-bottom: 0.05em;
	margin-top: 0.05em;
}

/* change colour and alignment depending on who send message */
.other_sent_it {
	background-color: #2ECC71;
	text-align: left;
	padding-left: 1em;
}

.i_sent_it {
	background-color: #9B59B6;
	text-align: right;
	padding-right: 1em;
}

/* Styles for user listing */
#users > li {
	margin-bottom: 0.5em;
}

.submit-btn {
	margin-top: 0.05em;
}